#main-content{
    width: 100%;
    margin-top: 100px;
    background-image: url('/assests/bgbanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    /* display: none; */
}
.form-title{
    width: 100%;
    display: flex;
    /* background-color: #01bb0a; */
    padding-bottom: 20px;
}
.formdata{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #ffffff;
}
.form-upperpart{
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: #ffffff;
}
.form-upperpart-common{
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #213d77;
    padding: 5px;

}
.pnr-status img{
    padding-left: 30px;
    width: 60px;
}
.chart-status img{
    padding-left: 30px;
    width: 60px;
}
.pnr-status a{
    padding-left: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.chart-status a{
    padding-left: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.form-lowerpart{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.g20-azadi{
    display: flex;
    justify-content: space-between;
    
    padding: 25px;
}
.g20-azadi h1{
    font-size: 30px;
    color: #213d77;
}

.station-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.from-to{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.from-to i{
    transform: rotate(90deg);
    font-size: 20px;
    color: #213d77;
}
.from-to-station{
    height: 40px;
    width: 350px;
    position: relative;
}
.from-to-station input{
    width: 100%;
    height: 40px;
    flex: 1;
    padding-left: 50px ;
    padding-right: 20px;
    color: #213d77;
}
.from-to-station i{
    color: #213d77;
    position: absolute;
    top: 50%;
    font-size: 20px;    
    transform: translate(0,-50%);
    left: 5%;
}

.dates-class{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.calendar{
    position: relative;
    height: 40px;
    width: 220px;
    background-color: yellow;
}
.calendar i{
    padding-left: 20px;
    position: absolute;
    color: #213d77;
    top: 50%;
    transform: translate(0,-50%);
}
.calendar input{
    width: 100%;
    height: 40px;
    flex: 1;
    padding-left: 50px;
    padding-right: 20px;
}
.All-Classes{
    position: relative;
    height: 40px;
    width: 220px;
    background-color: yellow;
}
.All-Classes i{
    padding-left: 20px;
    position: absolute;
    color: #213d77;
    top: 50%;
    transform: translate(0,-50%);
}
#classes-name{
    width: 100%;
    height: 40px;
    flex: 1;
    padding-left: 50px;
    padding-right: 30px;
}
#classes-name option{
    width: 100%;
    height: 100%;
    /* padding: 50px 0; */
    border: 1px solid black;
}
.reservation-type{
    position: relative;
    height: 40px;
    width: 350px;
    margin-left: 40px;
}
.reservation-type i{
    padding-left: 20px;
    position: absolute;
    color: #213d77;
    top: 50%;
    transform: translate(0,-50%);
}
#reservation-types{
    width: 100%;
    height: 40px;
    flex: 1;
    padding-left: 50px;
    padding-right: 30px;
}

.CONCESSION{
    width: 100%;
    margin: 10px 0;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.concession1{
    display: flex;
    gap: 20px;
    /* font-size: 8px; */
}
.concession1 input{
    width: 40px;
    background-color: #213d77;
}
/* .congession1 label{
    font-size: 28px;
    color: #213d77;
    font-weight: 700;
} */
.concession2{
    display: flex;
    gap: 30px;
    font-size: 18px;
}
.concession2 input{
    width: 40px;
}
/* .congession2 label{
    font-size: 28px;
    color: #213d77;
    font-weight: 700;
} */

.search-bar-and-AI{
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    margin: 40px;
    gap: 250px;
}
.button-common{
    height: 40px;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
}
.button-common a{
    color: #ffffff;
    text-decoration: none;
}
#search-button{
    background-color: #fb792b;
    width: 200px;
}
#try-booking-button{
    background-color: #01bb0a;
    width: 500px;
}

.railways-title{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-left: 140px;
}
.indian-railways h1{
    font-size: 60px;
    font-weight: 700;
    color: #213d77;
    font-family: sans-serif;
}
.indian-railway-lower-part span{
    font-size: 30px;
    color: #213d77;
}


