#Part_3{
    width: 100%;
    /* height: 100vh; */
    /* background-color: blue; */
    background-color: #ffffff;
    /* display: none; */
}
.advertisement-section{
    width: 100%;
    height: 100px;
    background-color: rgb(252, 246, 246);
    /* box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);  */
    border-bottom: 2px solid rgb(191, 188, 188);
}
.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(191, 188, 188);
}
.service-title{
    width: 40%;
    background-color: #ffffff;
}
.service-title h1{
    font-size: 42px;
    text-align: center;
    font-weight: 700;
}
.services-types{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 200px 200px;
    width: 60%;
    align-items: center;    
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.services-types>div{
    /* border: 1px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; */
}
.service-inner-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.service-inner-data label{
    font-size: 20px;
    font-weight: 700;
    background-color: #ffffff;
}
.service-inner-data span i{
    font-size: 40px;
}
.service-inner-data span{
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}